body {
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     background-color:#ffffff;   
}
/*.jumbotron {
     background-color:#ffffff;*/
}
.navbar-default {
    background-color: #2fa4e7;
    border-color: #1995dc;
}
.navbar-fixed-top{
    /*background-color:#178acc;*/
    background-color:#2fa4e7;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    background-color:transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.cell-head {
    font-size: 10px;
}
.cell-body {
    font-size: 22px;
}
.cell-body-small {
    font-size: 16px;
}
.cell-body-padding {
    padding-top: 4em;
}
.TR-table{
width: 100%;
}
.TR-table-cell{
    border: 1px solid;
    padding: 4px;
}
.TR-div{
    border: 2px solid;
    border-radius: 8px;
}
.TR-btn-back{
    /*background-color:lightgreen;*/
    background-color:#73a839;
    border-color: #73a839;
    color:cornsilk;
    /*border: 2px solid red;*/
}
.TR-btn-primary{
    background-color:#2fa4e7;
    border-color:#2fa4e7;
    color:#ffffff;
}

